.html{
    scroll-behavior: inherit;
}
.asd{
    border-radius: 15px;
    text-align: left;
}
.zxc{
    border-radius: 20px;
    text-align: center;
}
.fig{
    text-align: right;
}
.bnm{
    text-align: right;
}